.box1 {
	border: 1px solid #9260e8;
	background-color: #9260e8;
	padding-right: 100%;
	padding-left: 20px;
	margin: 0%;
	border-radius: 0px;
	padding-bottom: 99px;
	position: absolute;
}
body {
	margin: 0%;
}
.box {
	display: flex;
}
.boxgrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
.space1 {
	margin-right: 40%;
}
.space2 {
	margin-top: 0px;
	width: 500px;
}
.imgtras {
	width: 1000px;
}
.relative {
	position: relative;
	margin-top: 295px;
	margin-left: 0px;
	width: 850px;
}
.box2 {
	border: 1px solid #48d0b7;
	background-color: #48d0b7;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 0%;
	border-radius: 100px;
}
.licorn {
	position: fixed;
	width: 300px;
	margin-left: 220px;
	margin-top: -150px;
}

.fir {
	width: 50px;
	margin-left: 60px;
	margin-bottom: 0%;
}
.fir2 {
	width: 50px;
	margin-left: 60px;
	margin-bottom: 0%;
}
.fir3 {
	width: 30px;
	margin-left: 60px;
	margin-bottom: 0%;
}
.space3 {
	margin-left: 30px;
	margin-top: 100px;
}
.space4 {
	margin-left: 30px;
	margin-top: -20px;
}
.space5 {
	margin-left: 60px;
	margin-top: -5px;
}
.space6 {
	margin-left: 30px;
}
.imtaille {
	width: 700px;
	margin-left: 30px;
}
.rose {
	color: #cf468d;
	font-weight: 900;
	text-shadow: #cf468d;
}

.box8 {
	background: linear-gradient(90deg, #47326d 0%, #6466f0 100%);
	border: linear-gradient(90deg, #47326d 0%, #6466f0 100%);
	padding-top: 40px;
	padding-left: 20px;
	margin-top: 100px;
	border-radius: 0px;
	padding-bottom: 50px;
}
.space7 {
	margin-left: 50px;
}
.space8 {
	margin-left: 50px;
	margin-top: 70px;
}
.box9 {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	padding-right: 60px;
	padding-left: 5px;
	margin-left: 50px;
	border-radius: 00px;
}
.black {
	color: #000;
}
.box10 {
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 1);
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 10px;
	border-radius: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 50px;
}
.space10 {
	margin-left: 50px;
	margin-top: 60px;
	margin-bottom: 20px;
}
.space11 {
	margin-left: 50px;
	margin-top: 20px;
}

.space12 {
	margin-left: 100px;
}
.space13 {
	margin-left: 130px;
}
.space14 {
	margin-left: 80px;
	margin-top: 200px;
}
.boxVIO {
	border: 1px solid #9260e8;
	background-color: #9260e8;
	padding-right: 100%;
	padding-left: 20px;
	margin: 0%;
	border-radius: 0px;
	padding-bottom: 99px;
}