@media screen and (min-width: 80rem) {
	.container {
		margin: 1em 2em;
	}
}
.container {
	column-count: 3;
}
.container {
	column-width: 10em;
}
.container {
	display: flex;
}

.item {
	flex: 1;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
img,
picture,
video {
	max-width: 50%;
}
html {
	font-size: 1em;
}

h1 {
	font-size: 2rem;
}

@media (min-width: 1200px) {
	h1 {
		font-size: 4rem;
	}
}
h1 {
	font-size: calc(1.5rem + 3vw);
}
.op {
	margin-top: 90px;
	margin-right: 0px;
}
@media (min-width: 1200px) {
	h2 {
	}
}
@media (min-width: 1200px) {
	h3 {
	}
}
@media (min-width: 1200px) {
	h4 {
	}
}
@media (min-width: 1200px) {
	h5 {
	}
}
